@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --safi-gradient: radial-gradient(rgb(92, 92, 126), rgb(47, 47, 114));
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--safi-gradient);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
