@import "tailwindcss";

:root {
  --background: #7a70a8;
  --foreground: white;
}

.bg-saf-color { background-color: #504783; }
.bg-saf-color-light { background-color: #7a70a8; }
.text-saf-color-light { color: #7a70a8; }
.bg-saf-color-dark { background-color: #3a3261; }
.bg-glaucous-gradient {background: radial-gradient(circle, #7a70a8, #504783 , #3a3261);}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
